<%= form_with(url: create_note_path, method: :post) do |f| %>
  <div class="form-group">
    <%= f.text_field :city, placeholder: "City" %>
  </div>
  <div class="form-group">
    <%= f.text_area :note_text, cols: "50", rows: "6", placeholder: "How was it?" %>
  </div>
  <div class="form-group button">
    <%= f.submit %>
  </div>
<% end %>